<% if current_team.errors.any? %>
  <%= current_team.errors.full_messages %>
<% end %>

<%= form_with model: @team, local: true do |f| %>

    <% if !@team.teamname %>
        <%= f.label :teamname, "Teamname:" %><br>
        <%= f.text_field :teamname, autofocus: true %>
    <% end %>
    <br><br><br>
    <%= f.fields_for :parents do |p| %>

        <%= p.label :name, "Parent name:"%><br>
        <%= p.text_field :name %><br><br><br><br>

        <%= p.label :roll, "Is going to be a:" %><h3>
        <%= p.radio_button :roll, "Mommy" %> Mommy
        <%= p.radio_button :roll, "Daddy" %> Daddy
        <%= p.radio_button :roll, "Parent" %> Parent</h3><br><br><br>

        
    <% end %>
<h6 style="color:yellow">We are expecting a:</h6>
    <%= f.submit "Boy", class: "button-boy", name: "gender" %> <%= f.submit "Girl", class: "button-girl", name: "gender" %> <%= f.submit "Baby", class: "button2", name: "gender"%>
<% end %>
<br><br><br>
