<div class="errors-font">

<% if current_team.errors.any? %>
  <br><br><%= current_team.errors.full_messages.to_sentence %>
<% end %>

</div>

<br><br><br><%= form_with url: '/login', local: true do |f| %>
    <%= f.label :teamname, "Teamname:" %><br>
    <%= f.text_field :teamname, autofocus: true %><br><br><br>

    <%= f.label :password, "Password:" %><br>
    <%= f.password_field :password, autocomplete: "new-password"%><br><br>
    
    <%= f. submit "Sign In", :class => "button2" %>  
<% end %><br>
<%= button_to "Sign in with Google", google_path, class: "button2", :method => "get"%><br><br><br>