<h1><%= @baby_name.name %></h1>
<h3><%= @baby_name.name %> Is typicaly a <%= @baby_name.gender.downcase %> name.
It has <%= @baby_name.origin %> origins, and means
"<%= @baby_name.meaning %>"</h3>
<%if @baby_name.variations %>
    <p>Variations of <%= @baby_name.name %> include: <%= @baby_name.variations %></p>
<% end %>

<% if @parent %>
    <%= button_to "Back to my list", parent_path(@parent), :method => "get"%>
<% end %>

<% if @parent %>
    <%= button_to "Add this name to my list", parent_path(@parent), :method => "get", params: {baby_name_id: @baby_name} %>
<% end %>