<!DOCTYPE html>

<html>
	<body class="background--<%=baby_gender%>">
	


  	<head>
	  
    	<title>LetsNameTheBaby</title>
    	<%= csrf_meta_tags %>
    	<%= csp_meta_tag %>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= favicon_link_tag asset_path('baby.png') %>
  	</head>
	  
  	<div class="blur">
		

        <section class="babynameapp">
			<header class="header">
			<% if parent_logged_in? %>
				<h4>Team:</h4>
			<% end %>

			<% if team_logged_in? %>
				<h1 <% if baby_gender == "Boy" %>
						style="color:lightblue"
					<% elsif baby_gender == "Girl" %>
						style="color:lightpink"
					<% else %>
						style="color:yellow"
					<% end %>>

					<%= current_team.teamname  %></h1>
			<% end %>

			

			</header>
			
        
			<section class="main" style="display: block;">
			<div class="info">

    <%= yield %>
	</section>
			<footer class="footer" style="display: block;">
			<% if parent_logged_in?%>
				<ul class="filters">
					<li>
						<%= link_to "Update Team", edit_team_path(current_team), :method => "get" %>
					</li>
					<li>
						<%= link_to "My List", parent_path(current_parent), :method => "get" %>	
					</li>
					<li>
						<%= link_to "Show Matching Names", team_path(current_team) %>
					</li>
					<li>
                        <%= link_to "Log Out", logout_path, method: "delete" %>
					</li>
				</ul>
			<% else %>
				<ul class="filters">
					<li>
						<%= link_to "Sign In", login_path, :method => "get" %>
					</li>
					<li>
						<%= link_to "Home", home_path, :method => "get" %>	
					</li>
					<li>
						<%= link_to "Sign Up", sign_up_path, :method => "get" %>
					</li>
				</ul>
			<% end %>

			</footer>
		</section>
  	</div>
	</body>	
</html>

