<!DOCTYPE html>

<html class="background--<%=baby_gender%>">


  	<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                $(function(){    
                    setTimeout(function(){ 
                            $('.button2').fadeIn();
                    }, 500);
                });
            </script>
	  
    	<title>LetsNameTheBaby</title>
    	<%= csrf_meta_tags %>
    	<%= csp_meta_tag %>

    	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  	</head>

  	<body>

		<div class="home-box">
        

    <%= yield %>
    
        </div>
	
  	</body>
      
	  	
</html>
