<!DOCTYPE html>

<html>
    <body class="background--<%=baby_gender%>">
  	<head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7"/>
      <meta name="google-site-verification" content="1x6QDN0aBXXKgOE2JkwpU_sQt5XUCa5bt0blF-y0tP4" />
      <meta
      name="description"
      content="Let's Name the Baby"
    />
    <meta name="title" property="og:title" content="Let's Name the Baby" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/50993336232_de07775ca1_n.jpg" />
    <meta name="description" property="og:description" content="Baby naming app" />
    <meta name="author" content="Adam Workman" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script>
                $(function(){    
                    setTimeout(function(){ 
                            $('.button2').fadeIn();
                    }, 500);
                });
            </script>
	  
    	<title>LetsNameTheBaby</title>
    	<%= csrf_meta_tags %>
    	<%= csp_meta_tag %>

    	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        <%= favicon_link_tag asset_path('baby.png') %>
  	</head>
      
  	<div>
		<div class="home-box">      

    <%= yield %>
    
        </div>
    <div>	
  	</body>  	
</html>
